<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-card class="ion-card">
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">
          <div text-center>
            <img src="../../assets/logo.png" alt="">
            <h3>Ingresar</h3>
          </div>
          <div padding>
            
            <!-- <ion-item> -->
              <ion-input aria-label="Primary input" color="secondary" label="Correo" labelPlacement="floating" fill="outline"  name="email" type="email" placeholder="your@email.com" [(ngModel)]="usuario" name="usuario"></ion-input>
            <!-- </ion-item>
            <ion-item> -->
              <ion-input aria-label="Primary input" color="primary" label="Contraseña" labelPlacement="floating" fill="outline" name="password" type="password" placeholder="Password" [(ngModel)]="pass" name="pass"></ion-input>
            <!-- </ion-item> -->
          </div>
          <div padding>
            <ion-button shape="round" size="large" type="submit" (click)="login()" expand="block">Ingresar</ion-button>
            <ion-button shape="round" size="large" type="submit" (click)="salir()" expand="block">Salir</ion-button>

          </div>
        </ion-col>
      </ion-row>
      
    </ion-card>

    <ion-card>
       
      <ion-item>
        <ion-select label="Usuario" placeholder="Seleccionar usuario" (ionChange)="Autocompletar($event)">
          <ion-select-option value="admin@admin.com|111111" >Admin</ion-select-option>
          <ion-select-option value="tester@tester.com|555555">Tester</ion-select-option>
          <ion-select-option value="usuario@usuario.com|333333">Usuario</ion-select-option>
          <ion-select-option value="invitado@invitado.com|222222">Invitado</ion-select-option>
          <ion-select-option value="anonimo@anonimo.com|444444">Anonimo</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-card>
  </ion-grid>
</ion-content>

