

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">estadisticas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Estadisticas</ion-card-title>
      <!-- <ion-card-subtitle></ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content class="grafico ion-padding ion-margin ion-text-center">
      <div class="areachart-wrapper">
        <ngx-charts-bar-vertical class="grafico"
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)"
        [legendPosition]="legendPosition"
        >
        
      </ngx-charts-bar-vertical>
  </div>
       </ion-card-content>
  </ion-card>
</ion-content>
